body {
   background: #009FFF;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Media queri img1*/
@media screen and (max-width: 767px) 
{
     .rounded {
        display: none;
     }
}
@media screen and (min-width: 768px) 
{
     .rounded {
        height: 150px;
        width: 190px;
     }
     
}
@media screen and (min-width: 1024px) 
{
     .rounded {
        height: 125px;
        width: 200px;
     }
}

/*contenedor proposito*/
#prop {
    height: 70px;
    justify-content: center;
    border-radius: 1rem;
}

#text-prop {
    padding: 15px;
}

#img-rounded {
    width: 400px;
    height: 125px;
}

@media screen and (min-width: 300px) 
{
     #text-prop {
        padding: 5px;
     }
     
}

/*Media queri de uso*/
@media screen and (min-width: 300px) 
{
     #uso {
        margin-top: -18%;
     }
     #uso1 {
      margin-top: 2%;
   }
}
@media screen and (min-width: 768px) 
{
     #img-rounded {
        width: 300px;
        height: 270px;
     }
    #uso {
        margin-top: 1%;
    }
    #img-rounded2 {
      height: 215px;
      width: 300px;
   }
   .footerMenu {
      font-size: 10pt;
      padding: 20px;
     }
     .fMenuTitle {
      font-size: 12pt;
     }
     
}

@media screen and (min-width: 1024px) 
{
     #img-rounded {
        height: 175px;
        width: 500px;
     }
     #rounded {
      width: 325px;
     }
     #img-rounded2 {
      height: 166px;
      width: 500px;
   }
   
}

#space {
   margin-right: 5px;
}


/*support*/
footer{
    display: flex;
}
.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.fMenuTitle{
    font-size: 16px;
}
.fList{
    padding: 0;
    list-style: none;
}
.fListItem{
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}
.footerRight{
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fInput{
   padding: 5px;
}
.fButton{
   padding: 5px;
   background-color: black;
   color: white;
}

.fIcons{
   display: flex;
}

.fIcons{
   width: 25px;
   height: 25px;
   margin-right: 10px;
}
.copyright{
   font-weight: 300;
   font-size: 16px;
   text-align: center;
}

@media screen and (max-width: 480px) {
   footer{
      flex-direction: column;
      align-items: center;
  }
  .footerLeft{
      padding: 10px;
      width: 90%;
  }
  .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
  }
  .footerMenu {
   font-size: 8pt;
  }
  .fMenuTitle {
   font-size: 10pt;
  }
}

@media screen and (max-width: 768px) {
   footer{
      flex-direction: column;
      align-items: center;
  }
  .footerLeft{
      padding: 10px;
      width: 80%;
  }
  .footerRight{
      padding: 10px;
      width: 90%;
      align-items: center;
  }
  .footerMenu {
   font-size: 10pt;
  }
  .fMenuTitle {
   font-size: 12pt;
  }
}

@media screen and (max-width: 1024px) {
   footer{
      flex-direction: column;
      align-items: center;
  }
  .footerLeft{
      padding: 10px;
      width: 90%;
  }
  .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
  }
  .footerMenu {
   font-size: 12pt;
  }
  .fMenuTitle {
   font-size: 14pt;
  }
}


